body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.container {
    height: 80px;
    width: auto;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
    justify-content: space-around;
}

.p,
.h,
.d,
.s,
.l {
    display: flex;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.container img {
    width: 150px;
    height: 90px;
    margin-left: 20px;
    margin-right: 300px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.h1 {
    display: flex;
    font-weight: bold;
    font-size: 80px;
}

.h2 {
    display: flex;
    font-size: 30px;
    justify-content: center;
}

.write button {
    background-color: rgb(45, 129, 45);
    margin: auto;
    font-size: 30px;
    border: none;
    cursor: pointer;
    width: 300px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 500px;
}